@font-face {
	font-family: Lazer84;
	src: url(Lazer84.ttf);
}

@font-face {
	font-family: Serpentine;
	src: url(Serpentine.ttf);
}

body {
	background-image: url("bgyellowcircle3.png");
	background-size: cover;
	font-size: 100%;
	// background: radial-gradient(circle farthest-corner at center, white, #ffeeaf);
}

h1 {
	font-family: Lazer84;
	text-align: center;
	margin-top: 0;
	font-size: 2.5em;
}

figure > a > img {
	width: 100%;
	height: auto;
	margin: 1%;
}

.picture {
	width: 70%;
	border: 3pt solid;
	border-radius: 15px;
	background-color: white;
	padding: 1%;
	margin-left: 15%;
	overflow: hidden;
	margin-bottom: 2.5%;
}

.right > figure > a > img {
	float: right;
}

.right > #info {
	float: right;
	width: 45%;
	text-align: right;
}

.left > #info {
	float: left;
	width: 45%;
}

#info {
	margin-top: 7.5%;
}

figcaption {
	text-align: center;
}

.left > figure {
	float: left;
	width: 50%;
	height: auto;
	margin: 1%;
	margin-right: 2%;
}

.right > figure {
	float: right;
	width: 50%;
	height: auto;
	margin: 1%;
	margin-left: 2%;
}

h3 {
	margin: 0;
	margin-top: 4%;
}


body > p {
	margin: 0;
	margin-left: 1%;
	margin-top: 1%;
}
